<div class="container-skeleton">
  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div
      class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 max-w-[640px] mb-2.5 mx-auto"
    ></div>
    <div
      class="h-2.5 mx-auto bg-gray-300 rounded-full dark:bg-gray-700 max-w-[540px]"
    ></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div
      class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 max-w-[640px] mb-2.5 mx-auto"
    ></div>
    <div
      class="h-2.5 mx-auto bg-gray-300 rounded-full dark:bg-gray-700 max-w-[540px]"
    ></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div
      class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 max-w-[640px] mb-2.5 mx-auto"
    ></div>
    <div
      class="h-2.5 mx-auto bg-gray-300 rounded-full dark:bg-gray-700 max-w-[540px]"
    ></div>
  </div>
</div>
