.stat {
  @media only screen and (min-width:1024px) {
    border-color: var(--reg-light);
  }
}

.stat-image {
  width                  : 100vw;
  height                 : 40vw;
  border-top-left-radius : 50%;
  border-top-right-radius: 50%;
  flex-direction         : column;
  justify-content        : center;
  margin-top             : 3rem;
  display                : flex;
  position               : relative;
  overflow               : hidden;
}

.stat-desc {
  @apply text-sm;
}

.video-cover {

  background: linear-gradient(134deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.45) 51.56%, rgba(0, 0, 0, 0.20) 100%), url(/assets/images/tutor-1.jpg) center center/cover no-repeat, lightgray 50%/ cover no-repeat;

  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.20);
}