<app-hero-banner />
<section class="pt-16 bg-green">
  <div class="container">
    <div class="container text-center hero-content">
      <div class="max-w-3xl">
        <h2
          class="max-w-2xl mx-auto mb-4 font-bold title title-up font-crimson"
        >
          Service de Tutorat à domicile et en ligne
        </h2>
        <p class="py-6 mb-5">
          Nous nous adaptons aux besoins de votre enfant.Aidez votre adolescent
          à se concentrer et à prioriser son travail pendant l’heure des devoirs
        </p>
        <div
          class="bg-transparent stats gap-x-5 text-inherit stats-vertical lg:stats-horizontal"
        >
          <div class="max-w-sm bg-transparent lg:border-gray-400 stat">
            <h5 class="mb-3 stat-value text-green-light">50K+</h5>
            <p class="text-white whitespace-normal stat-desc">
              Sessions en direct et soumissions au laboratoire d'écriture
            </p>
          </div>

          <div class="max-w-sm bg-transparent lg:border-gray-400 stat">
            <h5 class="mb-3 stat-value text-yellow-dark">25K+</h5>
            <p class="text-white whitespace-normal stat-desc">
              Sessions en direct et soumissions au laboratoire d'écriture
            </p>
          </div>

          <div class="max-w-sm bg-transparent lg:border-gray-400 stat">
            <h5 class="mb-3 stat-value text-blue-light">4.6/5</h5>
            <p class="text-white whitespace-normal stat-desc">
              Note moyenne donnée par les étudiants à leurs tuteurs
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full stat-image">
    <img
      src="/assets/images/tutor.jpg"
      class="inline-block object-cover max-w-full align-middle"
      alt="tutor image"
    />
  </div>
</section>
<section class="py-10 bg-blue-light">
  <div class="container">
    <div
      class="container flex-col-reverse items-center lg:items-stretch hero-content lg:flex-row-reverse lg:"
    >
      <figure class="max-w-lg min-h-[200px] lg:min-h-[350px]">
        <img
          src="/assets/images/tutor-student.png"
          class="object-cover w-full h-full img-block lg:object-fill"
          alt="Tutor student"
        />
      </figure>
      <div class="max-w-md">
        <h2 class="font-bold title title-sm font-crimson">
          Tutorat met les étudiants en contact avec des tuteurs hautement
          qualifiés pour un soutien individuel, où et quand ils en ont le plus
          besoin.
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="my-10 mt-20 bgblob bgblob-bottom-right">
  <div class="container">
    <div
      class="container flex-col-reverse mb-20 lg:gap-x-10 hero-content lg:flex-row-reverse lg:"
    >
      <figure class="max-w-lg">
        <img
          src="/assets/images/school-image.png"
          class="object-cover w-full"
          alt="Tutor school"
        />
      </figure>
      <div class="max-w-md">
        <h2 class="mb-3 font-bold title font-crimson">
          Pour les écoles et les districts
        </h2>
        <p class="mb-3 text-base text-dark">
          Offrez aux élèves de la maternelle à la 12e année un soutien
          supplémentaire , sans alourdir la charge de travail de vos enseignants
          et de votre personnel.
        </p>
        <a class="font-medium normal-case border-2 rounded btn btn-outline"
          >Lire plus</a
        >
      </div>
    </div>
    <div
      class="container flex-col lg:gap-x-10 hero-content lg:flex-row-reverse"
    >
      <div class="max-w-md">
        <h2 class="mb-3 font-bold title font-crimson">
          Pour les établissements d'enseignement supérieur
        </h2>
        <p class="mb-3 text-base text-dark">
          Réimaginez la façon dont vos élèves accèdent au tutorat grâce à une
          disponibilité 24 heures sur 24 dans toutes les matières.
        </p>
        <a class="font-medium normal-case border-2 rounded btn btn-outline"
          >Lire plus</a
        >
      </div>
      <figure class="max-w-lg">
        <img
          src="/assets/images/university-image.png"
          class="object-cover w-full"
          alt="Tutor university"
        />
      </figure>
    </div>
  </div>
</section>
<section class="min-h-[750px] hero bgblob bgblob-center">
  <div class="container">
    <div class="relative">
      <div
        class="absolute opacity-25 md:opacity-50 lg:opacity-75 xl:opacity-100 left-5 top-[5%] -transform-y-1/4 min-h-[250px] min-w-[250px] -z-0"
      >
        <div class="flex">
          <img
            src="/assets/images/user-1.png"
            alt=""
            class="absolute top-0 left-0 w-16 h-16 mb-auto testimonial user-1"
          />
          <img
            src="/assets/images/user-2.png"
            alt=""
            class="absolute bottom-0 left-0 w-12 h-12 mt-auto testimonial user-2"
          />
        </div>
        <img
          src="/assets/images/user-3.png"
          alt=""
          class="absolute right-0 w-20 h-20 -translate-y-1/2 top-1/2 testimonial user-3"
        />
      </div>
      <div class="relative container z-[1] text-center hero-content">
        <div class="max-w-2xl">
          <p class="mb-5 font-medium uppercase text-yellow-dark">
            Histoires de réussite
          </p>
          <h2 class="font-bold title title-up font-crimson">
            Révolutionner l'éducation grâce à la puissance du tutorat en ligne
          </h2>
          <p class="py-6">
            L’accompagnement que mon garçon reçoit de son tuteur contribue
            grandement à son succès scolaire. Au-delà du soutien qu’il apporte,
            notre tuteur a réussi à bâtir une relation qui rend les périodes de
            travail agréables. Nous sommes très satisfaits des tutorat
          </p>
          <p class="mb-3 text-dark">
            <strong class="font-bold">Nathalie R.</strong>
            <span> Cliente Tutorat</span>
          </p>
          <div class="w-full flex-col-middle">
            <div class="flex items-center mb-5 space-x-3">
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>

            <a
              href="#"
              class="px-3 text-sm font-medium text-dark button text- btn-warning"
              >Donnez votre avis svp</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute opacity-25 md:opacity-50 lg:opacity-75 xl:opacity-100 right-20 top-[5%] -transform-y-1/4 min-h-[250px] min-w-[250px] -z-0"
      >
        <div class="flex">
          <img
            src="/assets/images/user-4.png"
            alt=""
            class="absolute top-0 right-0 w-16 h-16 mb-auto testimonial user-1"
          />
          <img
            src="/assets/images/user-5.png"
            alt=""
            class="absolute bottom-0 right-0 w-12 h-12 mt-auto testimonial user-2"
          />
        </div>
        <img
          src="/assets/images/user-6.png"
          alt=""
          class="absolute left-0 w-20 h-20 -translate-y-1/2 top-1/2 testimonial user-3"
        />
      </div>
    </div>
  </div>
</section>
<!-- Block video -->
<app-block-video />
<section class="my-28 bg-red-light-1">
  <div class="px-5 lg:px-0">
    <div
      class="container flex-col-reverse mb-20 lg:gap-x-10 hero-content lg:justify-between lg:gapx-10 lg:flex-row-reverse lg:"
    >
      <figure class="max-w-lg">
        <img
          src="/assets/images/block-item-tutors.png"
          class="object-cover w-full"
          alt="Tutor group teaching"
        />
      </figure>
      <div class="max-w-md">
        <h2 class="mb-3 font-bold title font-crimson">
          Il est temps de mettre à profit votre zone de génie
        </h2>
        <p class="mb-3 text-base text-dark">
          Il y a quelque part un élève qui pourrait bénéficier de votre soutien
          personnalisé. TutorMe recrée la façon dont les étudiants accèdent et
          reçoivent un tutorat personnalisé de haute qualité. Rejoignez notre
          communauté de tuteurs pour faire une réelle différence dans la vie des
          étudiants et des éducateurs dans tout le pays.
        </p>
        <a
          class="text-base font-semibold normal-case gap-x-3 btn-outline button-icon btn group"
          ><span>Devenir un tuteur</span
          ><svg
            class="transition-transform group-hover:translate-x-1"
            width="19"
            height="13"
            viewBox="0 0 19 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.6482 0.319824L10.8014 2.16639L13.8968 5.26134H1.38529C0.656968 5.26134 0.0847168 5.83351 0.0847168 6.56175C0.0847168 7.28996 0.656968 7.86215 1.38529 7.86215H13.8968L10.8014 10.9571L12.6482 12.8037L18.8909 6.56175L12.6482 0.319824Z"
              fill="currentColor"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="bgblob bgblob-top-left">
  <div class="container hero">
    <div>
      <h3 class="max-w-xl mb-5 font-bold title title-up font-crimson">
        Les dernières nouvelles de notre centre de ressources
      </h3>
      <div
        class="flex-col-reverse p-0 ressource-card lg:gap-x-10 hero-content lg:flex-row"
      >
        <figure class="max-w-lg shrink-0">
          <img
            src="/assets/images/tutoring.png"
            class="object-cover w-full"
            alt="Tutoring ressources"
          />
        </figure>
        <div class="flex flex-col min-h-[250px] py-5 px-3 h-full max-w-md">
          <p class="items-center mb-3 join gap-x-3">
            <svg
              class="rounded-none join-item"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
            >
              <g clip-path="url(#clip0_31_2222)">
                <path d="M16 0.65332H8V2.78H16V0.65332Z" fill="currentColor" />
                <path
                  d="M16 4.69238H8V6.81906H16V4.69238Z"
                  fill="currentColor"
                />
                <path
                  d="M16 8.72998H0V10.8567H16V8.72998Z"
                  fill="currentColor"
                />
                <path
                  d="M16 12.7686H0V14.8952H16V12.7686Z"
                  fill="currentColor"
                />
                <path
                  d="M4.19194 1.08349C4.04606 0.730326 3.70057 0.5 3.3167 0.5C2.9405 0.5 2.59501 0.722649 2.44913 1.07582L0 6.81861H2.0499L2.44146 5.89731H4.13052L4.50671 6.81861H6.55662L4.19194 1.08349ZM2.84837 4.27735L3.30902 3.19482L3.75432 4.27735H2.84837Z"
                  fill="currentColor"
                />
              </g>
              <defs>
                <clipPath id="clip0_31_2222">
                  <rect
                    width="16"
                    height="15"
                    fill="white"
                    transform="translate(0 0.5)"
                  />
                </clipPath>
              </defs>
            </svg>
            <span class="uppercase join-item">article</span>
          </p>
          <h2 class="mb-3 font-semibold title">
            Comprendre le modèle logique de Tutorat supérieur
          </h2>

          <a
            class="flex mt-auto text-base font-semibold normal-case gap-x-3 no-button w-max button-icon btn group"
            ><span>Lire plus</span>

            <svg
              class="transition-transform group-hover:translate-x-1"
              width="19"
              height="13"
              viewBox="0 0 19 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.6482 0.319824L10.8014 2.16639L13.8968 5.26134H1.38529C0.656968 5.26134 0.0847168 5.83351 0.0847168 6.56175C0.0847168 7.28996 0.656968 7.86215 1.38529 7.86215H13.8968L10.8014 10.9571L12.6482 12.8037L18.8909 6.56175L12.6482 0.319824Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="flex-wrap mt-10 lg:flex-nowrap join gap-x-5">
        <a href="#" class="mb-3 normal-case rounded-md lg:mb-0 btn btn-outline"
          >S’abonner</a
        >
        <a
          href="#"
          class="px-0 text-base font-semibold normal-case bg-transparent border-transparent rounded gap-x-3 hover:bg-transparent hover:border-transparent button-icon btn group"
          ><span>Voir toutes les ressources</span
          ><svg
            class="transition-transform group-hover:translate-x-1"
            width="19"
            height="13"
            viewBox="0 0 19 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.6482 0.319824L10.8014 2.16639L13.8968 5.26134H1.38529C0.656968 5.26134 0.0847168 5.83351 0.0847168 6.56175C0.0847168 7.28996 0.656968 7.86215 1.38529 7.86215H13.8968L10.8014 10.9571L12.6482 12.8037L18.8909 6.56175L12.6482 0.319824Z"
              fill="currentColor"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="relative my-20 text-white hero min-h-[450px] bg-dark">
  <img
    src="/assets/images/block-image-1.png"
    class="absolute max-w-[250px] inset-y-0 z-0 opacity-25 md:opacity-50 lg:opacity-75 xl:opacity-100 left-0 object-fill h-full"
    alt="Block left"
  />
  <div class="container relative z-[1]">
    <div class="container text-center hero-content">
      <div class="max-w-2xl flex-col-middle">
        <h2 class="mb-5 font-bold title title-up font-crimson">
          Commencez dès aujourd'hui à apporter un meilleur soutien à vos
          étudiants et à vos éducateurs.
        </h2>
        <a
          href="#"
          class="px-3 text-sm font-medium text-dark button text- btn-warning"
          >Réserver un appel</a
        >
      </div>
    </div>
  </div>
  <img
    src="/assets/images/block-image-2.png"
    class="absolute max-w-[250px] opacity-25 md:opacity-50 lg:opacity-75 xl:opacity-100 inset-y-0 z-0 right-0 object-fill h-full"
    alt="Block right"
  />
</section>
