<section class="min-h-screen hero">
  <div class="container">
    <div class="flex-col hero-content lg:flex-row-reverse">
      <img
        src="/assets/images/tutor-group.png"
        alt="hero image"
        class="max-w-lg rounded-lg"
      />
      <div class="max-w-lg">
        <p class="mb-5 font-medium text-uppercase text-yellow-dark">
          100% SATISFACTION GARANTIE
        </p>
        <h2 class="text-5xl font-bold">
          Chaque Elève a besoin d'un <br />
          <span class="italic font-crimson">Tuteur</span>
        </h2>
        <p class="py-6">
          Des tuteurs compétents, sélectionnés selon la matière et le niveau de
          l’étudiant. Confiez-nous les plus gros défis scolaires auxquels fait
          face votre enfant et nous le mènerons vers la réussite.
        </p>
        <div class="button-container">
          <a
            href="#"
            class="px-3 text-sm font-medium text-dark button text- btn-warning"
            >Pourquoi tutorat ?</a
          >
          <a href="#" class="px-3 text-sm font-medium button button-icon">
            <svg
              class="w-9 h-9"
              viewBox="0 0 46 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.669922"
                width="45"
                height="45"
                rx="22.5"
                fill="#151D34"
              />
              <path
                d="M31.6607 20.2503C32.0652 20.4674 32.4035 20.7915 32.6394 21.1878C32.8754 21.5842 33 22.0379 33 22.5002C33 22.9626 32.8754 23.4163 32.6394 23.8126C32.4035 24.209 32.0652 24.5331 31.6607 24.7502L20.8713 30.6721C19.134 31.6258 17 30.3848 17 28.423V16.5783C17 14.6148 19.134 13.3747 20.8713 14.3275L31.6607 20.2503Z"
                fill="#F9F9F9"
              />
            </svg>

            <span class="underline">comment Ça fonctionne ?</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-16 bg-green">
  <div class="text-center hero-content">
    <div class="max-w-3xl">
      <h2 class="max-w-2xl mx-auto mb-4 text-5xl font-bold font-crimson">
        Service de Tutorat à domicile et en ligne
      </h2>
      <p class="py-6 mb-5">
        Nous nous adaptons aux besoins de votre enfant.Aidez votre adolescent à
        se concentrer et à prioriser son travail pendant l’heure des devoirs
      </p>
      <div
        class="bg-transparent stats gap-x-5 text-inherit stats-vertical lg:stats-horizontal"
      >
        <div class="max-w-sm bg-transparent lg:border-gray-400 stat">
          <h5 class="mb-3 stat-value text-green-light">50K+</h5>
          <p class="text-white whitespace-normal stat-desc">
            Sessions en direct et soumissions au laboratoire d'écriture
          </p>
        </div>

        <div class="max-w-sm bg-transparent lg:border-gray-400 stat">
          <h5 class="mb-3 stat-value text-yellow-dark">25K+</h5>
          <p class="text-white whitespace-normal stat-desc">
            Sessions en direct et soumissions au laboratoire d'écriture
          </p>
        </div>

        <div class="max-w-sm bg-transparent lg:border-gray-400 stat">
          <h5 class="mb-3 stat-value text-blue-light">4.6/5</h5>
          <p class="text-white whitespace-normal stat-desc">
            Note moyenne donnée par les étudiants à leurs tuteurs
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full stat-image">
    <img
      src="/assets/images/tutor.jpg"
      class="inline-block object-cover max-w-full align-middle"
      alt="tutor image"
    />
  </div>
</section>
<section class="py-10 bg-blue-light">
  <div class="flex-col-reverse hero-content lg:flex-row-reverse lg:">
    <figure class="max-w-lg">
      <img src="/assets/images/tutor-student.png" alt="Tutor student" />
    </figure>
    <div class="max-w-md">
      <h2 class="text-5xl font-bold font-crimson">
        Tutorat met les étudiants en contact avec des tuteurs hautement
        qualifiés pour un soutien individuel, où et quand ils en ont le plus
        besoin.
      </h2>
    </div>
  </div>
</section>

<section class="my-10 mt-20">
  <div
    class="flex-col-reverse mb-20 lg:gap-x-10 hero-content lg:flex-row-reverse lg:"
  >
    <figure class="max-w-lg">
      <img
        src="/assets/images/school-image.png"
        class="object-cover w-full"
        alt="Tutor school"
      />
    </figure>
    <div class="max-w-md">
      <h2 class="mb-3 text-4xl font-bold font-crimson">
        Pour les écoles et les districts
      </h2>
      <p class="mb-3 text-base text-dark">
        Offrez aux élèves de la maternelle à la 12e année un soutien
        supplémentaire , sans alourdir la charge de travail de vos enseignants
        et de votre personnel.
      </p>
      <a class="font-medium normal-case border-2 rounded btn btn-outline"
        >Lire plus</a
      >
    </div>
  </div>
  <div class="flex-col lg:gap-x-10 hero-content lg:flex-row-reverse">
    <div class="max-w-md">
      <h2 class="mb-3 text-4xl font-bold font-crimson">
        Pour les établissements d'enseignement supérieur
      </h2>
      <p class="mb-3 text-base text-dark">
        Réimaginez la façon dont vos élèves accèdent au tutorat grâce à une
        disponibilité 24 heures sur 24 dans toutes les matières.
      </p>
      <a class="font-medium normal-case border-2 rounded btn btn-outline"
        >Lire plus</a
      >
    </div>
    <figure class="max-w-lg">
      <img
        src="/assets/images/university-image.png"
        class="object-cover w-full"
        alt="Tutor university"
      />
    </figure>
  </div>
</section>
<section class="min-h-screen hero bgblob">
  <div class="container relative">
    <div
      class="absolute opacity-75 left-10 top-[5%] -transform-y-1/4 min-h-[250px] min-w-[250px] -z-0"
    >
      <div class="flex">
        <img
          src="/assets/images/user-1.png"
          alt=""
          class="absolute top-0 left-0 w-16 h-16 mb-auto testimonial user-1"
        />
        <img
          src="/assets/images/user-2.png"
          alt=""
          class="absolute bottom-0 left-0 w-12 h-12 mt-auto testimonial user-2"
        />
      </div>
      <img
        src="/assets/images/user-3.png"
        alt=""
        class="absolute right-0 w-20 h-20 -translate-y-1/2 top-1/2 testimonial user-3"
      />
    </div>
    <div class="relative z-[1] text-center hero-content">
      <div class="max-w-2xl">
        <p class="mb-5 font-medium text-uppercase text-yellow-dark">
          100% SATISFACTION GARANTIE
        </p>
        <h1 class="text-5xl font-bold font-crimson">
          Révolutionner l'éducation grâce à la puissance du tutorat en ligne
        </h1>
        <p class="py-6">
          L’accompagnement que mon garçon reçoit de son tuteur contribue
          grandement à son succès scolaire. Au-delà du soutien qu’il apporte,
          notre tuteur a réussi à bâtir une relation qui rend les périodes de
          travail agréables. Nous sommes très satisfaits des tutorat
        </p>
        <p class="mb-3 text-dark">
          <strong class="font-bold">Nathalie R.</strong>
          <span> Cliente Tutorat</span>
        </p>
        <div class="flex flex-col items-center justify-center w-full">
          <div class="flex items-center mb-5 space-x-3">
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
          </div>

          <a
            href="#"
            class="px-3 text-sm font-medium text-dark button text- btn-warning"
            >Donnez votre avis svp</a
          >
        </div>
      </div>
    </div>
    <div
      class="absolute opacity-75 right-10 top-[5%] -transform-y-1/4 min-h-[250px] min-w-[250px] -z-0"
    >
      <div class="flex">
        <img
          src="/assets/images/user-4.png"
          alt=""
          class="absolute top-0 right-0 w-16 h-16 mb-auto testimonial user-1"
        />
        <img
          src="/assets/images/user-5.png"
          alt=""
          class="absolute bottom-0 right-0 w-12 h-12 mt-auto testimonial user-2"
        />
      </div>
      <img
        src="/assets/images/user-6.png"
        alt=""
        class="absolute left-0 w-20 h-20 -translate-y-1/2 top-1/2 testimonial user-3"
      />
    </div>
  </div>
</section>
