@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';


@import './bases/reset';
@import './abstracts/placeholders';
@import './bases/typography';

@import './layouts/topbar';
@import './layouts/banner';
@import './layouts/how-it-works';
@import './layouts/about';
@import './layouts/testimonials';
@import './layouts/faq';
@import './components/block';
@import './components/inputs';
@import './components/modal';
@import './layouts/header';
@import './layouts/footer';
@import './layouts/forms';

@import './components/buttons';
@import './components/card';

@import './pages/login';
@import './pages/signup';
@import './pages/home';
// @import './pages/about';
// @import './pages/contact';
// @import './pages/404';
@import './abstracts/animations';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--color-black);
  }

  .rounded {
    border-radius: 5px;
  }
}

.bg-dark {
  background-color: var(--primary-color);
}

.text-dark {
  color: var(--primary-color);
}

.text-green {
  color: var(--green-dark);
}

.bg-red-light {
  background-color: var(--reg-light);

}

.block {
  @apply flex flex-col;


  @media #{$lg-screen} {
    @apply flex-row gap-x-5;

  }
}

.block__left,
.block__right {
  width: 100%;
}

.back-link {
  @apply flex items-center justify-center w-10 h-10 mb-5 border border-gray-200 rounded transition-all duration-300;
}

.alert {
  @apply flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg absolute bottom-60 right-5 transition-all;

  &__body {
    @apply flex items-start justify-between w-full px-2 py-2;
  }

  &__content {
    @apply flex flex-col ml-2;
  }
}

.bar {
  @apply w-2;
}

.bar-success,
.bar-error,
.bar-infos,
.bar-warning {
  @extend .bar;
}


.bar-error {
  @apply bg-red-600;
}

.bar-success {
  @apply bg-green-600;
}

.bar-warning {
  @apply bg-yellow-600;
}

.bar-infos {
  @apply bg-blue-600;
}