@use "sass:math";
@import "./variables";
@import "./mixins";

%container {
  width         : 100%;
  margin-inline : auto;
  padding-inline: rem(20);

  @media #{$sm-screen} {
    max-width: 640px;
  }

  @media #{$md-screen} {
    max-width: 820px;
  }

  @media #{$lg-screen} {
    max-width: 1060px;
  }

  @media #{$xl-screen} {
    max-width     : 1240px;
    padding-inline: 0;
  }

}

%updatingContent {

  .container {
    width       : 100%;
    margin-right: auto;
    margin-left : auto;

    @media #{$sm-screen} {
      max-width: 640px;
    }

    @media #{$md-screen} {
      max-width: 820px;
    }

    @media #{$lg-screen} {
      max-width: 1060px;
    }

    @media #{$xl-screen} {
      max-width: 1240px;
    }

    margin-inline : auto;
  }
}

%titleSpace {
  margin-block: rem(15);
}

%title-1 {
  @include makeSize($title-2, $title-1);
}

%title-2 {
  @include makeSize($title-3, $title-2);
}

%title-3 {
  @include makeSize($title-4, $title-3);
}

%title-4 {
  @include makeSize($title-5, $title-6);
}

%bold {
  font-weight: bold;
}

%title-5 {

  @include makeSize($title-6, $title-5);
}

%title-6 {
  @include makeSize($title-6, $title-6);
}

%shadow {
  box-shadow: $smart-shadow;
}

%fadeUp {
  animation: fadeUp var(--transition-1) forwards;
}

%fade {
  animation: fadeIn var(--transition-2) forwards;
}

.fade {
  animation: fadeIn var(--transition-2) forwards;
}

.fade-out {
  animation: fadeOut var(--transition-2) forwards;
}

%fadeRight {
  animation: fadeRight var(--transition-1) forwards;
}

%fadeLeft {
  animation: fadeRight var(--transition-1) forwards;
}

.fade-trans {
  animation: fadeTranslate var(--transition-3) forwards;
}

.fade-trans-reverse {
  animation: fadeTranslateReverse var(--transition-3) forwards;

}

%gradientText {

  color                  : transparent;
  background-clip        : text;
  -webkit-background-clip: text;
  background-image       : var(--primary-color-gradient);
  font-weight            : bold;
}

%title-blue {
  font-size  : rem(48);
  color      : var(--blue-dark);
  font-weight: 900;
  line-height: rem(55);
}

.big-title {
  font-size: 2rem;

  @media #{$md-screen} {
    font-size: 2.5rem;
  }

  @media #{$lg-screen} {
    font-size: 3rem;
  }
}

.title-blue {
  @extend %title-blue;
  @extend .big-title;
}



.blue-dark {

  color: var(--blue-dark);
}

.in-back {
  z-index: -1;
}