<div
  class="bg-white relative border border-gray-200 shadow-lg shadow-gray-100 rounded-3xl p-3 min-w-[250px] max-w-lg sm:max-w-md min-h-[185px]"
>
  <div class="flex-none sm:flex">
    <div class="relative flex-none mb-3 sm:h-36 sm:w-32 sm:mb-0">
      <img
        [src]="tutor.user.avatar"
        [alt]="tutor.user.firstName"
        class="object-cover w-full h-full sm:w-32 sm:h-32 rounded-2xl"
      />
      <button
        type="button"
        class="absolute p-1 -ml-3 text-xs font-medium tracking-wider text-white transition duration-300 ease-in bg-green-400 rounded-full -right-2 bottom-2 hover:bg-green-500"
      >
        <svg
          _ngcontent-jnv-c56=""
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="w-4 h-4"
          viewBox="0 0 512 512"
          class="w-5 h-5"
        >
          <path
            _ngcontent-jnv-c56=""
            d="M87.48 380c1.2-4.38-1.43-10.47-3.94-14.86a42.63 42.63 0 00-2.54-3.8 199.81 199.81 0 01-33-110C47.64 139.09 140.72 48 255.82 48 356.2 48 440 117.54 459.57 209.85a199 199 0 014.43 41.64c0 112.41-89.49 204.93-204.59 204.93-18.31 0-43-4.6-56.47-8.37s-26.92-8.77-30.39-10.11a31.14 31.14 0 00-11.13-2.07 30.7 30.7 0 00-12.08 2.43L81.5 462.78a15.92 15.92 0 01-4.66 1.22 9.61 9.61 0 01-9.58-9.74 15.85 15.85 0 01.6-3.29z"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          ></path>
          <circle _ngcontent-jnv-c56="" cx="160" cy="256" r="32"></circle>
          <circle _ngcontent-jnv-c56="" cx="256" cy="256" r="32"></circle>
          <circle _ngcontent-jnv-c56="" cx="352" cy="256" r="32"></circle>
        </svg>
      </button>
    </div>
    <div class="flex flex-col flex-auto h-full sm:ml-5 justify-evenly">
      <div class="flex items-center justify-between sm:mt-2">
        <div class="flex items-center">
          <div class="flex flex-col">
            <h6
              class="flex-none w-full text-lg font-bold leading-none text-gray-800"
            >
              {{ tutor.user.firstName }} {{ tutor.user.lastName }}
            </h6>
            <div
              class="flex items-center flex-auto my-1 mb-3 text-gray-500 gap-x-1"
              *ngIf="tutor.user.address"
            >
              <span>{{ tutor.user.address.city }}</span
              ><span class="border-r border-gray-200 max-h-0"></span
              ><span>{{ tutor.user.address.country | slice : 0 : 8 }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row items-center">
        <app-rating />
      </div>
      <div
        class="flex justify-between w-full pt-2 mt-auto text-sm text-gray-500 sm:w-auto sm:justify-normal"
      >
        <div class="flex items-center flex-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"
            ></path>
          </svg>
          <p class="flex items-center">1.5 Tutorat</p>
        </div>
        <div class="flex items-center flex-1">
          <svg
            class="w-5 h-5 mr-2"
            width="17"
            height="12"
            viewBox="0 0 17 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.3757 0.00634766L0.5 3.94481L8.3757 7.88204L14.8188 4.65988V10.7448H16.2502V3.94481L8.3757 0.00634766ZM8.3757 9.48327L2.64769 6.61927V8.21927L8.37692 11.0833L14.1037 8.21927V6.61927L8.37692 9.48204L8.3757 9.48327Z"
              fill="currentColor"
            />
          </svg>
          <p class="flex items-center">
            {{ tutor.specialization.length }} cours
          </p>
        </div>
      </div>
    </div>
  </div>
  <a
    [routerLink]="'/myspace/tutor/' + tutor.userId"
    class="absolute inset-0 opacity-0"
  ></a>
</div>
