.field-container,
.input-icon {
  @apply w-full max-w-full;

  input {
    @apply w-full;
  }
}

.input-groupp {
  @apply w-full;

  .field-container {
    @apply w-1/2 mb-3;
  }
}

.block-error {
  * {
    background-color: transparent;
  }

  p {

    @apply flex items-center;
  }
}

.selected {
  @apply bg-green-200;
}

input[type="text"],
input[type="date"],
select,
textarea,
.input-icon {
  background-color: #f2f3f8 !important;
  border-color    : #e2e9ea !important;
  border-radius   : 5px !important;
}

.icon {
  @apply hidden;

  @screen sm {
    @apply inline-block
  }
}

.form-tutor {
  background-color   : var(--red-light);
  // background      : url('/assets/images/icons/bar-decorator.png') no-repeat center center / contain;

  .input-field {
    @apply flex flex-nowrap w-full max-w-full;

    .field-container {
      @apply w-auto max-w-full;
    }

    .field-container {
      @apply w-1/2;
    }
  }

}