<section class="fade">
  <div class="auth-section form-step section-content">
    <div class="flex flex-wrap w-full min-h-screen md:flex-nowrap">
      <div class="hidden w-full md:block">
        <div
          class="flex items-center justify-center w-full h-full pr-0 rounde d-lg"
        >
          <div
            class="flex flex-col w-full h-full rounded-curve-bottom tutor-bg"
          >
            <div class="py-5 form-header block-blur-white">
              <h2 class="mb-3 text-3xl font-bold text-gray-100">
                Obtenir des informations supplémentaires
              </h2>
              <p class="text-sm text-gray-300 form-description">
                Veuillez remplir le formulaire ci-dessous pour créer votre
                profil de tuteur. N’hésitez pas à ajouter autant de détails que
                nécessaire.
              </p>
            </div>
            <div class="container m-5 mt-auto">
              <div
                class="rounded-curve-bottom-md block-description block-blur-white"
              >
                <h5 class="mb-3 text-3xl font-semibold fade-in-down">
                  Devenir tuteur
                </h5>
                <p class="fadeInRight">
                  Vous aurez l'opportunité de partager vos connaissances,
                  d'aider les autres et de participer activement à la communauté
                  de l'apprentissage. En devenant tuteur, vous formerez une
                  partie précieuse de notre réseau et contribuerez à former la
                  prochaine génération de talents.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full p-5 min-w-[250px] md:max-w-3xl bg-red-light rounded-curve-top"
      >
        <div class="container">
          <div class="w-full bg-red-light form-tutor">
            <div class="flex justify-center">
              <div class="w-full">
                <form
                  [formGroup]="tutorSupplementForm"
                  (ngSubmit)="saveTutorForm()"
                >
                  <div class="form-header lg:hidden">
                    <h2 class="mb-4 text-3xl font-bold">
                      Obtenir des informations supplémentaires
                    </h2>
                    <p class="text-sm form-description">
                      Veuillez remplir le formulaire ci-dessous pour créer votre
                      profil de tuteur. N’hésitez pas à ajouter autant de
                      détails que nécessaire.
                    </p>
                  </div>
                  <div class="shadow-md form-container bg-glace">
                    <!-- Etape 1: Informations personnelles -->
                    <div *ngIf="currentStep === 1">
                      <h3 class="mb-4 text-2xl font-bold">
                        Informations personnelles
                      </h3>
                      <p class="text-sm form-description">
                        Nous sommes ravis de vous accueillir en tant que tuteur!
                        Veuillez remplir le formulaire ci-dessous avec vos
                        informations personnelles. Nous sommes impatients d’en
                        savoir plus sur vous !
                      </p>
                      <div class="flex justify-center my-3">
                        <label
                          for="photo"
                          class="flex flex-col items-center justify-center w-max"
                        >
                          <input
                            type="file"
                            class="hidden w-full max-w-xs tw-file-input form-control tw-file-input-bordered"
                            id="photo"
                            (change)="onFileSelected($event)"
                            formControlName="photo"
                          />
                          <img
                            [src]="imagePath"
                            alt="Avatar"
                            class="object-cover w-32 h-32 transition-opacity duration-150 rounded-full opacity-75 cursor-pointer hover:opacity-100"
                          />
                          <p
                            class="flex items-center px-3 py-2 mt-3 border border-gray-300 rounded cursor-pointer text-gray gap-x-1"
                          >
                            <svg
                              class="w-5 h-5"
                              width="25"
                              height="25"
                              viewBox="0 0 25 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M5.01953 7.83984H6.01953C6.54996 7.83984 7.05867 7.62913 7.43374 7.25406C7.80882 6.87898 8.01953 6.37028 8.01953 5.83984C8.01953 5.57463 8.12489 5.32027 8.31242 5.13274C8.49996 4.9452 8.75431 4.83984 9.01953 4.83984H15.0195C15.2847 4.83984 15.5391 4.9452 15.7266 5.13274C15.9142 5.32027 16.0195 5.57463 16.0195 5.83984C16.0195 6.37028 16.2302 6.87898 16.6053 7.25406C16.9804 7.62913 17.4891 7.83984 18.0195 7.83984H19.0195C19.55 7.83984 20.0587 8.05056 20.4337 8.42563C20.8088 8.8007 21.0195 9.30941 21.0195 9.83984V18.8398C21.0195 19.3703 20.8088 19.879 20.4337 20.2541C20.0587 20.6291 19.55 20.8398 19.0195 20.8398H5.01953C4.4891 20.8398 3.98039 20.6291 3.60532 20.2541C3.23024 19.879 3.01953 19.3703 3.01953 18.8398V9.83984C3.01953 9.30941 3.23024 8.8007 3.60532 8.42563C3.98039 8.05056 4.4891 7.83984 5.01953 7.83984Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M12.0195 16.8398C13.6764 16.8398 15.0195 15.4967 15.0195 13.8398C15.0195 12.183 13.6764 10.8398 12.0195 10.8398C10.3627 10.8398 9.01953 12.183 9.01953 13.8398C9.01953 15.4967 10.3627 16.8398 12.0195 16.8398Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                            <span>Uploader une photo</span>
                          </p>
                        </label>
                      </div>

                      <div
                        class="flex-wrap join join-vertical gap-x-3 lg:join-horizontal"
                      >
                        <div class="relative w-full join-item">
                          <label for="hourlyRate" class="input-label"
                            >Taux horaire :</label
                          >
                          <div
                            class="input-icon"
                            [ngClass]="{
                              invalid:
                                tutorSupplementForm.get('hourlyRate')
                                  ?.touched &&
                                tutorSupplementForm.get('hourlyRate')?.invalid
                            }"
                          >
                            <input
                              type="text"
                              id="country"
                              type="number"
                              id="hourlyRate"
                              formControlName="hourlyRate"
                              placeholder="Entrez votre taux horaire"
                            />

                            <svg
                              class="w-6 h-6 icon right-icon"
                              width="80"
                              height="80"
                              viewBox="0 0 80 80"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M38.333 31.667V13.333H31.667V35C31.667 36.843 33.157 38.333 35 38.333H53.333V31.667H38.333Z"
                                fill="currentColor"
                              />
                              <path
                                d="M35 56.666C36.8408 56.666 38.333 55.1738 38.333 53.333C38.333 51.4922 36.8408 50 35 50C33.1592 50 31.667 51.4922 31.667 53.333C31.667 55.1738 33.1592 56.666 35 56.666Z"
                                fill="currentColor"
                              />
                              <path
                                d="M16.667 38.333C18.5077 38.333 20 36.8408 20 35C20 33.1592 18.5077 31.667 16.667 31.667C14.8262 31.667 13.334 33.1592 13.334 35C13.334 36.8408 14.8262 38.333 16.667 38.333Z"
                                fill="currentColor"
                              />
                              <path
                                d="M70 52.5H63.333C61.491 52.5 60 51.009 60 49.167H59.993L60 49.163C60 47.321 61.491 45.833 63.333 45.833H70C71.843 45.833 73.33 47.324 73.33 49.167H80C80 43.646 75.518 39.167 70 39.163V31.667H63.333V39.167V39.163C57.812 39.163 53.333 43.64 53.333 49.163V49.167C53.333 54.688 57.812 59.167 63.333 59.167H70C71.843 59.167 73.33 60.657 73.33 62.5H73.327C73.327 64.343 71.836 65.833 69.993 65.833H63.33C61.491 65.833 60 64.343 60 62.5H53.333C53.333 68.021 57.812 72.5 63.333 72.5V80H70V72.5C75.518 72.493 79.997 68.021 79.997 62.5H80C80 56.979 75.518 52.5 70 52.5Z"
                                fill="currentColor"
                              />
                              <path
                                d="M61.175 24.16C56.917 13.894 46.807 6.667 35 6.667C19.349 6.667 6.667 19.349 6.667 35C6.667 50.647 19.349 63.333 35 63.333C38.841 63.333 42.5 62.562 45.843 61.175L48.396 67.334C44.268 69.046 39.746 70 35 70C15.671 70 0 54.329 0 35C0 15.671 15.671 0 35 0C49.583 0 62.073 8.926 67.334 21.608L61.175 24.16Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                          <div
                            *ngIf="
                              tutorSupplementForm.get('country')?.errors &&
                              tutorSupplementForm.get('country')?.invalid &&
                              tutorSupplementForm.get('country')?.touched
                            "
                            class="absolute text-invalid block-error -bottom-4"
                            id="country-errors"
                          >
                            <p
                              *ngIf="tutorSupplementForm.get('country')?.errors?.['required']"
                            >
                              <span class="font-medium">Oops!</span> Country is
                              required
                            </p>
                          </div>
                        </div>
                        <div class="relative w-full join-item">
                          <label for="ville" class="input-label"
                            >Biography :</label
                          >
                          <textarea
                            formControlName="biography"
                            placeholder="Dite nous quelque chose à propose de vous"
                            class="w-full textarea textarea-bordered textarea-lg"
                          ></textarea>

                          <div
                            *ngIf="
                              tutorSupplementForm.get('biography')?.errors &&
                              tutorSupplementForm.get('biography')?.invalid &&
                              tutorSupplementForm.get('biography')?.touched
                            "
                            class="absolute text-invalid block-error -bottom-4"
                            id="city-errors"
                          >
                            <p
                              *ngIf="tutorSupplementForm.get('biography')?.errors?.['required']"
                            >
                              <span class="font-medium">Oops!</span> Biography
                              is required
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Etape 2: Informations professionnelles -->
                    <div *ngIf="currentStep === 2">
                      <h2 class="mb-3 text-2xl font-bold">
                        Informations professionnelles
                      </h2>
                      <p class="form-description">
                        Nous sommes convaincus que vous avez beaucoup à offrir
                        en tant que tuteur! Veuillez remplir le formulaire
                        ci-dessous avec vos informations professionnelles pour
                        nous aider à mieux comprendre votre expérience et vos
                        compétences.
                      </p>
                      <div
                        class="join join-vertical gap-x-3 lg:join-horizontal"
                      >
                        <div class="w-full max-w-xs join-item form-control">
                          <label class="label">
                            <span class="label-text"
                              >What is your name?</span
                            > </label
                          ><input
                            type="text"
                            placeholder="Type here"
                            class="w-full max-w-xs input input-bordered"
                          />
                        </div>

                        <div class="w-full max-w-xs join-item form-control">
                          <label class="label">
                            <span class="label-text">What is your name?</span>
                          </label>
                          <input
                            type="text"
                            placeholder="Type here"
                            class="w-full max-w-xs input input-bordered"
                          />
                        </div>
                      </div>
                      <label for="anneeExperience">Année d'expérience :</label>
                      <input
                        type="text"
                        id="anneeExperience"
                        formControlName="anneeExperience"
                        class="input-field"
                      />

                      <label for="niveauEtudes">Niveau d'études :</label>
                      <input
                        type="text"
                        id="niveauEtudes"
                        formControlName="niveauEtudes"
                        class="input-field"
                      />

                      <label for="domaineEtudes">Domaine d'études :</label>
                      <input
                        type="text"
                        id="domaineEtudes"
                        formControlName="domaineEtudes"
                        class="input-field"
                      />

                      <label for="periodeTemps">Période de temps :</label>
                      <input
                        type="text"
                        id="periodeTemps"
                        formControlName="periodeTemps"
                        class="input-field"
                      />

                      <label for="actuellementInscrit"
                        >Actuellement inscrit :</label
                      >
                      <input
                        type="checkbox"
                        id="actuellementInscrit"
                        formControlName="actuellementInscrit"
                        class="checkbox-field"
                      />

                      <label for="depuisMois"
                        >Mois de début d'inscription :</label
                      >
                      <input
                        type="text"
                        id="depuisMois"
                        formControlName="depuisMois"
                        class="input-field"
                      />

                      <label for="depuisAnnee"
                        >Année de début d'inscription :</label
                      >
                      <input
                        type="text"
                        id="depuisAnnee"
                        formControlName="depuisAnnee"
                        class="input-field"
                      />
                    </div>

                    <!-- Etape 3: Disponibilité -->
                    <div *ngIf="currentStep === 3">
                      <h2 class="mb-3 text-2xl font-bold">Disponibilité</h2>
                      <p class="form-description">
                        Nous savons que votre temps est précieux et nous voulons
                        nous assurer que vous êtes disponible pour les étudiants
                        qui ont besoin de votre aide. Veuillez remplir le
                        formulaire ci-dessous avec vos disponibilités pour nous
                        aider à mieux planifier les sessions de tutorat.
                      </p>
                      <label for="timezone">Timezone :</label>
                      <input
                        type="text"
                        id="timezone"
                        formControlName="timezone"
                        class="input-field"
                      />

                      <div formGroupName="jours">
                        <label for="lundi">Lundi :</label>
                        <input
                          type="checkbox"
                          id="lundi"
                          formControlName="lundi.active"
                          class="checkbox-field"
                        />
                        <input
                          type="day"
                          id="lundiDebut"
                          formControlName="lundi.start"
                          class="input-field"
                        />
                        <input
                          type="text"
                          id="lundiFin"
                          formControlName="lundi.end"
                          class="input-field"
                        />

                        <!-- Ajoutez les autres jours de la semaine de la même manière -->
                        <label for="mardi">Mardi :</label>
                        <input
                          type="checkbox"
                          id="mardi"
                          formControlName="mardi.active"
                          class="checkbox-field"
                        />
                        <input
                          type="text"
                          id="mardiDebut"
                          formControlName="mardi.start"
                          class="input-field"
                        />
                        <input
                          type="text"
                          id="mardiFin"
                          formControlName="mardi.end"
                          class="input-field"
                        />

                        <!-- ... -->
                      </div>
                    </div>

                    <!-- Etape 4: Préférences de tutorat -->
                    <div *ngIf="currentStep === 4">
                      <h2 class="mb-3 text-2xl font-bold">
                        Préférences de tutorat
                      </h2>
                      <label for="sujet">Sujet :</label>
                      <input
                        type="text"
                        id="sujet"
                        formControlName="sujet"
                        class="input-field"
                      />

                      <label for="niveauScolaire">Niveau scolaire :</label>
                      <input
                        type="text"
                        id="niveauScolaire"
                        formControlName="niveauScolaire"
                        class="input-field"
                      />

                      <label for="typeTutorat">Type de tutorat :</label>
                      <input
                        type="text"
                        id="typeTutorat"
                        formControlName="typeTutorat"
                        class="input-field"
                      />

                      <label for="typeEleve">Type d'élève :</label>
                      <input
                        type="text"
                        id="typeEleve"
                        formControlName="typeEleve"
                        class="input-field"
                      />
                    </div>

                    <!-- Etape 5: Compétences en communication -->
                    <div *ngIf="currentStep === 5">
                      <h2 class="mb-3 text-2xl font-bold">
                        Compétences en communication
                      </h2>
                      <label for="communicationEcrite"
                        >Compétences en communication écrite :</label
                      >
                      <input
                        type="text"
                        id="communicationEcrite"
                        formControlName="communicationEcrite"
                        class="input-field"
                      />

                      <label for="communicationOrale"
                        >Compétences en communication orale :</label
                      >
                      <input
                        type="text"
                        id="communicationOrale"
                        formControlName="communicationOrale"
                        class="input-field"
                      />

                      <label for="resolutionProblemes"
                        >Compétences en résolution de problèmes :</label
                      >
                      <input
                        type="text"
                        id="resolutionProblemes"
                        formControlName="resolutionProblemes"
                        class="input-field"
                      />

                      <label for="priseDecision"
                        >Compétences en prise de décision :</label
                      >
                      <input
                        type="text"
                        id="priseDecision"
                        formControlName="priseDecision"
                        class="input-field"
                      />
                    </div>

                    <!-- Etape 6: Antécédents judiciaires -->
                    <div *ngIf="currentStep === 6">
                      <h2 class="mb-3 text-2xl font-bold">
                        Antécédents judiciaires
                      </h2>
                      <label for="verificationAntecedents"
                        >Vérification des antécédents judiciaires :</label
                      >
                      <input
                        type="text"
                        id="verificationAntecedents"
                        formControlName="verificationAntecedents"
                        class="input-field"
                      />
                      <div class="button-container">
                        <button
                          type="button"
                          class="button button-primary"
                          (click)="previousStep()"
                        >
                          Précédent
                        </button>
                        <button type="submit" class="button button-primary">
                          Soumettre
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-footer">
                    <div class="mt-10 button-container">
                      <button
                        type="button"
                        class="button button-primary"
                        (click)="previousStep()"
                      >
                        Précédent
                      </button>
                      <button
                        type="button"
                        class="button button-primary"
                        (click)="nextStep()"
                      >
                        Suivant
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-alert
  *ngIf="submitForm"
  [alertTitle]="alert.alertTitle"
  [isShown]="alert.isShown"
  [alertType]="alert.alertType"
  [alertMessage]="alert.alertMessage"
/>
