<div class="w-full">
  <div class="">
    <div class="bg-white flex gap-x-3 divide-x-1 divide-gray-300">
      <label for="language">
        <select class="select w-full max-w-xs">
          <option disabled selected>Entrer le cours</option>
          <option>Chimie</option>
          <option>Geography</option>
          <option>Math</option>
          <option>Français</option>
          <option>Anglais</option>
        </select>
      </label>
    </div>
  </div>
  <div class="p-4 bg-white mt-5 rounded-lg shadow sm:p-6 xl:p-8 2xl:col-span-2">
    <div class="flex lg:flex-nowrap gap-3">
      <figure class="relative avatar flex flex-col items-center">
        <div class="w-24 rounded-xl">
          <img src="/assets/images/tutor-img-2.png" alt="Tutor name" />
        </div>
        <figcaption
          class="bg-green absolute -bottom-1 left-1/2 -translate-x-1/2 text-xs rounded-xl inline-block text-white p-0.5"
        >
          Logo MDN
        </figcaption>
      </figure>
      <div class="">
        <div class="flex items-center gap-x-3 mb-3">
          <img
            src="https://www.countryflagicons.com/FLAT/32/CD.png"
            alt="RDC"
          />
          <span class="font-semibold">RDC.Congo, Kinshasa</span>
        </div>
      </div>
    </div>
  </div>
</div>
