<!-- This is an example component -->
<div>
  <div class="flex overflow-hidden bg-light">
    <app-sidebar />
    <div
      class="fixed inset-0 z-10 hidden bg-gray-900 opacity-50"
      id="sidebarBackdrop"
    ></div>
    <div
      id="main-content"
      class="relative flex flex-col w-full h-full min-h-screen overflow-y-auto bg-light lg:ml-64"
    >
      <app-navbar />
      <main class="pt-16">
        <div class="px-4 pt-6">
          <router-outlet></router-outlet>
        </div>
      </main>
      <app-footer />
    </div>
  </div>
</div>
