<nav>
  <div class="container">
    <a
      routerLink="/"
      class="mx-auto nav-icon lg:mx-0"
      aria-label="homepage"
      aria-current="page"
    >
      <img src="/assets/images/icons/Logo.png" alt="Logo tutorat" />
    </a>

    <div
      class="main-navlinks items-nav landscape:lg:!mr-auto landscape:lg:!ml-0"
    >
      <button
        type="button"
        class="hamburger"
        (click)="toggleNav()"
        [class]="isActive ? 'open' : ''"
        aria-label="Toggle Navigation"
        [ariaExpanded]="isActive ? 'true' : 'false'"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div
        class="navlinks-container"
        [class]="isActive ? 'open' : ''"
        #navContainer
      >
        <button (click)="toggleNav()" class="mb-10 text-dark close-item">
          <svg
            class="w-10 h-10"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              fill="currentColor"
              d="M368 368L144 144M368 144L144 368"
            />
          </svg>
        </button>
        <a routerLink="/services" aria-current="page" (click)="toggleNav()"
          >Services</a
        >
        <a routerLink="/tutors" (click)="toggleNav()">Tutors</a>
        <a routerLink="/blog" (click)="toggleNav()">Blog</a>
        <a routerLink="/about" (click)="toggleNav()">A propos</a>
        <a routerLink="/contact" (click)="toggleNav()">Contact</a>

        <div class="button-auth-app button-container">
          <a
            routerLink="/auth/signup"
            (click)="toggleNav()"
            class="normal-case border-2 bg-transparent hover:!text-white after:!hidden btn-outline btn"
            >S'inscrire</a
          >
          <a
            routerLink="/auth/login"
            (click)="toggleNav()"
            class="!text-white normal-case after:!hidden btn bg-dark"
            >Se connecter</a
          >
        </div>
      </div>
    </div>

    <div
      class="burger-overlay-bg"
      [class]="isActive ? 'active' : ''"
      (click)="toggleNav()"
    ></div>
    <div class="nav-authentication">
      <a
        routerLink="/auth/signup"
        class="text-white normal-case btn bg-dark user-toggler"
        aria-label="Sign in page"
      >
        Devenir tuteur
      </a>
      <div class="sign-btns button-container gap-x-3">
        <a
          routerLink="/auth/signup"
          class="normal-case bg-transparent border-transparent hover:bg-transparent hover:border-gray-50 btn"
          >S'inscrire</a
        >
        <a routerLink="/auth/login" class="text-white normal-case btn bg-dark"
          >Se connecter</a
        >
      </div>
    </div>
  </div>
</nav>
