<section class="fade">
  <div class="auth-section section-content">
    <div class="block block-content">
      <div class="block__left">
        <div class="block__img">
          <img src="/assets/images/new-password-img.png" alt="new Password" />
        </div>
      </div>
      <div class="block__right">
        <div class="container">
          <a routerLink="/login" class="back-link hover:shadow-md">
            <svg
              width="10"
              height="17"
              viewBox="0 0 10 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.15732 1.36714C9.0654 1.27499 8.95619 1.20187 8.83597 1.15198C8.71575 1.1021 8.58686 1.07642 8.45669 1.07642C8.32653 1.07642 8.19764 1.1021 8.07742 1.15198C7.95719 1.20187 7.84799 1.27499 7.75607 1.36714L1.17732 7.94589C1.10393 8.01913 1.0457 8.10613 1.00598 8.2019C0.96625 8.29767 0.945801 8.40033 0.945801 8.50402C0.945801 8.6077 0.96625 8.71037 1.00598 8.80614C1.0457 8.90191 1.10393 8.9889 1.17732 9.06214L7.75607 15.6409C8.14399 16.0288 8.7694 16.0288 9.15732 15.6409C9.54524 15.253 9.54524 14.6276 9.15732 14.2396L3.42565 8.50006L9.16524 2.76048C9.54524 2.38048 9.54524 1.74714 9.15732 1.36714Z"
                fill="#151D34"
                stroke="#151D34"
                stroke-width="0.2"
              />
            </svg>
          </a>
          <h2 class="text-3xl md:text-4xl max-w-[500px] font-bold mb-10">
            Créer un nouveau mot de passe
          </h2>
          <p class="text-base my-5 font-medium text-blue-light max-w-[410px]">
            Votre nouveau mot de passe doit être unique par rapport à ceux
            utilisés précédemment.
          </p>
          <form action="" class="form-login" method="POST">
            <div class="field-container">
              <label for="password" class="input-label">Mot de passe</label>
              <div class="input-icon">
                <input
                  [type]="isChange ? 'text' : 'password'"
                  id="password"
                  name="password"
                  placeholder="Entrez votre mot de passe"
                /><svg
                  class="icon right-icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  (click)="viewPassword()"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 5.25C4.5 5.25 1.5 12 1.5 12C1.5 12 4.5 18.75 12 18.75C19.5 18.75 22.5 12 22.5 12C22.5 12 19.5 5.25 12 5.25Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="field-container">
              <label for="confpassword" class="input-label"
                >Confirmer mot de passe</label
              >
              <div class="input-icon">
                <input
                  [type]="isChange ? 'text' : 'password'"
                  id="password"
                  name="confpassword"
                  placeholder="Confirmez votre mot de passe"
                /><svg
                  class="icon right-icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  (click)="viewPassword()"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 5.25C4.5 5.25 1.5 12 1.5 12C1.5 12 4.5 18.75 12 18.75C19.5 18.75 22.5 12 22.5 12C22.5 12 19.5 5.25 12 5.25Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="mt-3 field-container">
              <button class="btn btn-dark btn-full">
                Modifier le mot de passe
              </button>
            </div>
            <div class="mt-3 text-center field-container">
              <p class="font-medium text-dark">
                <span class="text-sm"
                  >Vous vous souvenez de votre mot de passe ?</span
                >
                <a
                  routerLink="/login"
                  class="text-base font-bold underline text-green"
                  >Connexion</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
