.btn {
  gap      : rem(10);
  min-width: rem(50);
  display  : block;
  @apply border text-center px-2 py-3 transition-all duration-300 w-max rounded opacity-95 border-transparent;

  &:disabled,
  &:disabled:hover {
    @apply opacity-70 cursor-not-allowed;
  }

  &:hover {
    @apply opacity-100;
    background-color: none;
  }

  &.btn-primary {
    background: var(--yellow-dark);
    color     : var(--color-white);
  }

  &.btn-action {
    background-color: var(--background-color);
    color           : var(--color-white);
    font-weight     : 600;
    padding         : rem(15) rem(45);
    text-transform  : capitalize;

    &:hover {
      border-color    : var(--background-color);
      background-color: transparent;
      color           : var(--background-color);

    }

  }

  &.btn-icon {
    @apply flex items-center justify-center;
    row-gap: rem(5);

    .icon {

      @apply mr-1 inline-block w-8 p-1 h-8 text-white rounded-full transition-colors;

    }

  }


  &.btn-small {
    @apply py-3;
  }

  &.btn-dark {
    @apply bg-[#151D34] text-white rounded;
  }

  &.btn-full {
    @apply w-full;
  }

  &.btn-blue-light {
    @apply bg-[#E0EFFE];
  }
}

.btn-container {
  @apply flex items-center gap-3;
}