<div
  class="mb-3 bg-white border border-gray-100 rounded-lg shadow shadow-gray-100"
>
  <div class="flex flex-row px-2 py-3 mx-3">
    <div class="w-auto h-auto rounded-full">
      <img
        class="object-cover w-12 h-12 rounded-full shadow cursor-pointer"
        [alt]="tutor.user.firstName + ' ' + tutor.user.lastName"
        [src]="tutor.user.avatar"
      />
    </div>
    <div class="flex flex-col mt-1 mb-2 ml-4">
      <div class="text-sm font-semibold text-gray-600">
        {{ tutor.user.firstName + ' ' + tutor.user.lastName }}
      </div>
      <div class="flex w-full mt-1">
        <div class="mr-1 text-xs text-blue-700 cursor-pointer font-base">
          Enseignant de :
        </div>
        <div class="text-xs font-thin text-gray-500">
          <span *ngFor="let cour of tutor.specialization"
            >{{ cour.name }},</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-100"></div>
  <div class="relative px-2 mx-3 my-3 text-sm font-medium text-gray-400">
    <img
      class="rounded-md w-full h-[200px] object-cover"
      [src]="tutor.video.thumbnail"
      [alt]="tutor.video.description"
    />

    <button
      class="absolute -translate-x-1/2 -translate-y-1/2 rounded-full cursor-pointer flex-middle top-1/2 left-1/2 flex-middlebutton"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-12 h-12 blob"
        viewBox="0 0 80 80"
        fill="none"
      >
        <g filter="url(#filter0_b_31_2145)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80ZM33.75 54.6721L56.25 42.096C57.9167 41.1645 57.9167 38.8355 56.25 37.904L33.75 25.3279C32.0833 24.3963 30 25.5608 30 27.4239L30 52.5761C30 54.4392 32.0833 55.6037 33.75 54.6721Z"
            fill="#FFFDF4"
          />
        </g>
        <defs>
          <filter
            id="filter0_b_31_2145"
            x="-16"
            y="-16"
            width="112"
            height="112"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="8" />
            <feComposite
              in2="SourceAlpha"
              operator="in"
              result="effect1_backgroundBlur_31_2145"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_backgroundBlur_31_2145"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
    </button>
  </div>
  <div class="px-2 mx-3 mb-2 font-semibold text-gray-600">
    {{ tutor.video.description }}
  </div>
  <div class="px-2 mx-3 mb-3 text-sm text-gray-500">
    {{ tutor.bio | slice : 0 : 70 }}
  </div>
  <div class="flex justify-start mb-3 border-t border-gray-100">
    <div class="flex justify-end w-full pt-2 pr-5 mt-1">
      <span
        class="w-8 h-8 px-2 py-2 mr-2 text-center text-blue-400 transition duration-300 ease-out bg-blue-100 rounded-full cursor-pointer hover:bg-blue-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          width="14px"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"
          ></path>
        </svg>
      </span>
      <span
        class="h-8 px-2 py-2 text-center text-gray-100 transition duration-300 ease-out bg-gray-100 rounded-full cursor-pointer hover:bg-gray-50"
      >
        <svg
          class="w-4 h-4 text-red-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
          ></path>
        </svg>
      </span>
    </div>
  </div>
  <div class="flex w-full border-t border-gray-100">
    <div class="flex flex-row mx-3 text-xs">
      <div
        class="flex items-center mb-2 mr-4 font-normal text-gray-700 rounded-md"
      >
        Commentaires:
        <div class="ml-1 text-gray-400 text-ms">30</div>
      </div>
    </div>
    <div class="flex justify-end w-full mx-3 mt-3 text-xs">
      <div class="flex items-center mb-2 mr-4 text-gray-700 rounded-md">
        J'aime:
        <div class="ml-1 text-gray-400 text-ms">12</div>
      </div>
    </div>
  </div>
</div>
