<section class="fade">
  <div class="auth-section signup-section section-content">
    <div class="block block-content">
      <div class="block__left">
        <div class="block__img">
          <img
            src="/assets/images/forget-password-img.png"
            alt="Forget password"
            class="fadeUp"
          />
        </div>
      </div>
      <div class="block__right">
        <div class="container py-20">
          <a routerLink="/auth/login" class="back-link hover:shadow-md">
            <svg
              width="10"
              height="17"
              viewBox="0 0 10 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.15732 1.36714C9.0654 1.27499 8.95619 1.20187 8.83597 1.15198C8.71575 1.1021 8.58686 1.07642 8.45669 1.07642C8.32653 1.07642 8.19764 1.1021 8.07742 1.15198C7.95719 1.20187 7.84799 1.27499 7.75607 1.36714L1.17732 7.94589C1.10393 8.01913 1.0457 8.10613 1.00598 8.2019C0.96625 8.29767 0.945801 8.40033 0.945801 8.50402C0.945801 8.6077 0.96625 8.71037 1.00598 8.80614C1.0457 8.90191 1.10393 8.9889 1.17732 9.06214L7.75607 15.6409C8.14399 16.0288 8.7694 16.0288 9.15732 15.6409C9.54524 15.253 9.54524 14.6276 9.15732 14.2396L3.42565 8.50006L9.16524 2.76048C9.54524 2.38048 9.54524 1.74714 9.15732 1.36714Z"
                fill="#151D34"
                stroke="#151D34"
                stroke-width="0.2"
              />
            </svg>
          </a>
          <h2 class="text-3xl md:text-4xl max-w-[500px] font-bold mb-5">
            Mot de passe oublié ?
          </h2>
          <p class="text-base my-5 font-medium text-blue-light max-w-[410px]">
            Ne vous inquiétez pas ! Cela se produit. Veuillez saisir l'adresse
            électronique liée à votre compte.
          </p>
          <form
            action=""
            class="form-login"
            (ngSubmit)="saveEmail()"
            method="POST"
            [formGroup]="forgetPasswordForm"
          >
            <div class="field-container">
              <label for="email" class="input-label">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="Entrer votre email"
                class="input-field"
                [ngClass]="{
                  invalid:
                    forgetPasswordForm.get('email')?.touched &&
                    forgetPasswordForm.get('email')?.invalid
                }"
              />
              <div
                *ngIf="
                  forgetPasswordForm.get('email')?.errors &&
                  forgetPasswordForm.get('email')?.invalid &&
                  forgetPasswordForm.get('email')?.touched
                "
                class="text-invalid"
              >
                <p
                  *ngIf="forgetPasswordForm.get('email')?.errors?.['required']"
                >
                  <span class="font-medium">Oops!</span> Email is required
                </p>
                <p
                  *ngIf="forgetPasswordForm.get('email')?.errors?.['email'] || forgetPasswordForm.get('email')?.errors?.['pattern']"
                >
                  <span class="font-medium">Oops!</span> Email is invalid
                </p>
              </div>
            </div>
            <div class="mt-3 field-container">
              <button
                class="flex-middle button gap-x-1 button-form button-dark button-full"
                [disabled]="forgetPasswordForm.invalid"
              >
                <svg
                  *ngIf="isLoading"
                  class="w-5 h-5 mr-3 -ml-1 text-indigo-500 animate-spin"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"
                  ></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path>
                </svg>
                {{ isLoading ? 'Loading...' : 'Envoyer le code' }}
              </button>
            </div>
            <div class="mt-3 text-center field-container">
              <p class="text-sm font-medium text-dark">
                <span>Vous vous souvenez de votre mot de passe ?</span>
                <a
                  routerLink="/auth/login"
                  class="font-bold underline text-green"
                  >Connexion</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-alert
  *ngIf="submitForm"
  [alertTitle]="alert.alertTitle"
  [isShown]="alert.isShown"
  [alertType]="alert.alertType"
  [alertMessage]="alert.alertMessage"
/>
