.auth-section {
  .block-content {
    @apply min-h-screen;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
  }

  /* Works for Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance     : textfield;
  }

  .field-container,
  .input-group {
    @apply mb-3 max-w-[400px];
  }

  .input-group {

    .field-container {
      @apply basis-1/2 mb-0 w-full;

      input {
        @apply min-w-full;
      }

    }
  }

  .block__right,
  .block__left {
    @apply flex flex-col justify-center;
  }


  .block__left {
    display: none;
    @extend .bg-red-light;

    @media #{$lg-screen} {

      @apply flex flex-col justify-center;
    }
  }

  .block__right,
  .block__left .block__img {
    @apply max-w-[450px] mx-auto;
  }

  .form-login {

    .input-field,
    .btn-full {
      @apply min-w-[200px] w-full;
    }

  }

  .btn {
    @apply font-semibold;
  }

  .btn-icon.btn-blue-light {
    @apply border-2 border-[#151D34] text-[#151D34] rounded;
  }
}