<div class="carousel-container mr-20">
  <div class="carousel-item" [ngStyle]="carouselStyle">
    <div class="slide" *ngFor="let item of items">
      <app-tutor-short-card [tutor]="item" />
    </div>
  </div>
</div>

<button (click)="prevSlide()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-10 w-10"
    viewBox="0 0 512 512"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="48"
      d="M244 400L100 256l144-144M120 256h292"
    />
  </svg>
</button>
<button (click)="nextSlide()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-10 w-10"
    viewBox="0 0 512 512"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="48"
      d="M268 112l144 144-144 144M392 256H100"
    />
  </svg>
</button>
