<div class="w-full">
  <div class="">
    <div class="flex bg-white divide-gray-300 gap-x-3 divide-x-1">
      <label for="language">
        <select class="w-full max-w-xs select">
          <option disabled selected>Entrer le cours</option>
          <option>Chimie</option>
          <option>Geography</option>
          <option>Math</option>
          <option>Français</option>
          <option>Anglais</option>
        </select>
      </label>
    </div>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-3">
    <app-tutor-card *ngFor="let tutor of tutors" [tutor]="tutor" />
  </div>
</div>
